.all{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.div{
    width: 600px;
    height:600px;
    margin: 20px 0px;

}
.div1{
    background-color: red;
}
.div2{
    background-color: black;
}
.div3{
    background-color: blue;
}
@media (max-width:768px), (min-width:576px) {
    .all{
        flex-wrap: wrap;
    }
}
@media (max-width: 576px){
    .all{
        display: flex;
        flex-direction: column;
    }
    .div1{
        order: 1;
    }
}