.all{
    padding: 0px 50px;
}
.t1{
    display: flex;
    margin-top: 30px;
    background-color: bisque;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
}
.t1a{
    display: flex;
    align-items: center;
}
.t11{
    height: 60px;
    background-color: rgb(178, 120, 234);
    border-radius: 50%;
    margin-left: 30px;
}
.t12{
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
}
.t1b{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
}
.t13{
    padding: 0px 20px;
    font-size: 20px;
}
.t14{
    font-size: 20px;
    height: 45px;
    background-color: rgb(130, 130, 220);
    border: 1px solid blue;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    margin-left: 20px;
}
.t2{
   display: flex;
   margin-top: 50px;
   margin-bottom: 30px; 
}
.t21{
    margin-left: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: auto;
    padding-left: 20px;
    height: 350px;
    padding-bottom: 30px;
}
.t21a{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.t21b{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: -3px;
}
.t21b1{
    margin-bottom: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: left;

}
.lb{
    font-size: 20px;
}
.ip{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.t21c{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 120px;
    padding: 10px 0px;
    border-radius: 12px;
    border: 1px solid blue;
}
.sm{
    background-color: aqua;
    border: none;
    font-size: 15px;
}
.t22{
    margin-left: 40px;
}
.t22a{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 15px 25px;
    width: 1650px;
}
.t22a1{
    display: flex;
    position: relative;
    margin-right: 50px;
    opacity: 0.5;
}
.faal{
    opacity: none;
}
.pi1{
    width: 450px;
    height: 45px;
    text-align: left;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
}
#fa{
    width: 45px;
    height: 45px;
}
.tt2a12{
    position: absolute;
    top: 13px;
    right: -16px;
}
.t22a2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    margin-left: 20px;
}
.t22a2 form{
    padding-left: 10px;
    padding-right: 10px;
}
.t22a2 form select{
    height: 45px;
    width: 120px;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0.5;
    display: block;
    padding-left: 20px;
}
.t22a2 select:checked{
    opacity: 0.5;
}
.tt22a22{
    display: flex;
    margin-right: 30px;
}
.t22b{
    width: 1700px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.tt2ba{
    display: flex;
    justify-content: space-between;
}
.tt2b1a{
    display: flex;
    flex-direction: column;
}
.dvt1{
    width: 360px;
    height: 360px;
    border: 1px solid black;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.dvt2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.dvt3{
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin-bottom: 30px;
}
.dvt3a{
    color: rgb(101, 101, 205);
}
.dvt3b form select{
    border: none;
    color: red;
}
.dvt3b form select option{
    color: black;
}
.t22c{
    display: flex;
    margin-top: 30px;
    padding-right: 20px;
}
.tt2c1{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 20px;
    border-radius: 10px;
}
.c1c1{
    opacity: 0.5;
}
.tt2c2{
    width: 60px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 20px;
    border-radius: 10px;
}
.t3{
    display: flex;
    padding-left: 30px;
    background-color: bisque;
    border: 1px solid beige;
    padding-top: 15px;
    padding-bottom: 20px;
}
.t31{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
}
.t31a{
    font-size: 25px;
    font-weight: bold;
}
.t31b{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.t31a1{
    margin-right: 15px;
}
.t31a2{
    font-size: 25px;
}
.t32{
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
    align-items: center;
}
.t32b{
    font-size: 25px;
    margin-left: 20px;
}
.tt32a{
    margin-left: 10px;
}